.App {
  text-align: center;
  font-family: Arial;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
    background-color: #282c34;
}
.App-header {
  
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.drag-n-drop {
    padding: .5rem;
    display: grid;
    gap: .5rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 200px);
    align-items: start;
}

.dnd-group {
    background-color: #49505e;
    border-radius: 5px;
    padding: .5rem;
}

.dnd-bin {
  background-color: rgb(220, 20, 20);
  border-radius: 5px;
  padding: .5rem;
}


.dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: white;
    border-radius: 5px;
    color: #282c34;
    font-weight: bold;
    
   
    line-height: 1.8rem; 
  max-height: 10em; 
}

.itemtextthing {
  text-align: center;
  word-wrap: break-word;
  margin-top: 1rem !important;
  width: 12rem;
}

.item-time {
  
  
 margin: auto !important;
  
}
.item-name {
  font-size: 1rem !important;
  
}

.dnd-item:not(:last-of-type) {
    margin-bottom: .5rem;
}

.dnd-item * {
    margin: 0;
    font-size: 1.2rem;
}


.group-title {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.sliding-thingy {
  color: white;
  font-size: 1.2rem;
}

.dots {
  color: white;
  font-size: 2rem;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.current {
   background-color:  #282c34;
}

.app-title {
  color: white;

}

.name-picker {

  margin-bottom: 1rem !important;
}

.colors {
  display: flex;
}
.color-pad {


 width: 2.5rem;
 height: 2.5rem;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
 margin-left: 0.5rem;
 border-radius: 5px;


}

.color-pad:hover {

 border: 3px solid rgb(110, 110, 110);
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
 
 }

 .blue:active {
  background-color: rgb(54, 113, 180)
 }
 .white:active {
  background-color: rgb(196, 196, 196)
 }

.notification-message {
  color: white;
  font-family: Arial;
  position: relative;
  left: 105rem;
  bottom: 20rem;
}

.notification-message > .message {
  background-color: rgb(23, 81, 156);
  border-top: 10px solid rgb(31, 102, 194);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  opacity: 0.8;
  margin-bottom: 10px;
}


.pomodoro {
  background-color: rgb(220, 20, 20);
  width: fit-content;
  margin: 0 auto;

  padding: 1.5rem 1rem;
  border-radius: 5px;
}